.footer {
    background: #1b1a1a;
    display: grid;
    color: #a2a2a2;
    justify-content: center;
    justify-items: center;
    gap: 10px;
    padding: 100px 20px 50px 20px;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0 20px 0 20px;
}


.footer-icon-cel {
    display: flex;
    flex-wrap: wrap;
    max-width: 70px;
    position: relative;
    align-items: center;
}

.footer-endereco {
    font-size: 1.125rem;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    line-height: 2rem;
    position: relative;
}

.footer-contato a {
    display: block;
    color: #a2a2a2;
    line-height: 2rem;
    font-size: 1.125rem;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    width: max-content;
}

.footer-contato a:hover {
    color: #f7f7f7;
}

.footer-redes {
    display: grid;
    position: relative;
    justify-content: end;
}

.footer-redes a {
    display: block;
    line-height: 3rem;
    max-height: 32px;
}

.footer-redes svg:hover {
    fill: #f7f7f7;
}

.footer-direitos {
    padding-top: 60px;
}

@media (max-width: 650px) {
    .footer-container {
        gap: 20px;
        grid-template-columns: 1fr 1fr;
        padding: 0 0 0 0;
    }

    .footer-contato {
        font-size: 1rem;
        grid-column: 2;
    }

    .footer-endereco {
        font-size: 1rem;
        line-height: 1.5rem;
    }


    .footer-redes {
        grid-column: 1;
        position: absolute;
        align-self: flex-end;
    }

    .icon-instagram {
        padding-bottom: 10px;
    }
}

@media (max-width: 650px) {
    .footer-contato a {
        font-size: 1rem;
        grid-column: 2;
    }

    .footer-endereco {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}