.main-contato {
    background: #040404;
}

.contato-container {
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    color: #f7f7f7;
    padding-top: 5rem;
    padding-bottom: 10rem;
}

.titulo-do-contato {
    box-sizing: border-box;
    color: #f7f7f7;
    margin-bottom: 4rem;
}

.titulo-do-contato h1 {
    font-size: 4rem;
}

.titulo-do-contato h2 {
    font-size: 2rem;
}

.contatos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background: #e3e3e3;
    color: #a2a2a2;
    border-radius: 5px;
}

.contato-dados {
    grid-column: 1 / 3;
    border-radius: 4px 0px 0px 4px;
    background: #1b1a1a;
    display: block;
    padding: 60px;
}


.contatos h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #a2a2a2;
}

.endereco {
    display: block;
    margin-top: 4rem;
}

.endereco p {
    font-weight: bold;
    font-style: normal;
    padding-bottom: 0.6rem;
    color: #a2a2a2;
}

.contato {
    margin-top: 3rem;
}

.contato a {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    color: #040404;
    font-weight: bold;
    background: linear-gradient(#d9d9d9, #959595);
    width: 10rem;
    border: none;
    border-radius: 1px;
    padding: 10px;
    justify-content: center;
}

.contato a:hover {
    cursor: pointer;
    background: linear-gradient(#ffffff, #a5a5a5);
    border-left: solid 6px #000000;
}

.contato-redes a {
    display: inline-block;
    margin-top: 4rem;
    margin-right: 2rem;
    color: #e3e3e3;
}

.contato-redes svg:hover {
    fill: #ffffff;
}

/* Formulário */

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 4rem;
    gap: 3rem;
    color: #323232;
}

.contato-formulario {
    grid-column: 3 /-1;
}

.form-nome {
    grid-column: 1/-1;
}

.form-nome label {
    font-size: 1.125rem;
    font-weight: bold;
    display: block;
}

.form-nome input {
    margin-top: 0.5rem;
    line-height: 2.5rem;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    border: solid 2px transparent;
    border-radius: 4px;
    box-shadow: -4px 4px 15px #a2a2a2;
    outline: none;
    background: #ffffff;
    font-size: 1rem;
}

.form-numero label {
    font-size: 1.125rem;
    font-weight: bold;
    display: block;
    grid-column: 1;
}

.form-numero input {
    margin-top: 0.5rem;
    line-height: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    border: solid 2px transparent;
    border-radius: 4px;
    width: 100%;
    box-shadow: -4px 4px 15px #a2a2a2;
    outline: none;
    background: #ffffff;
    font-size: 1rem;
}

.form-horario label {
    font-size: 1.125rem;
    font-weight: bold;
    display: block;
}

.form-horario input {
    margin-top: 0.5rem;
    line-height: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    border: solid 2px transparent;
    border-radius: 4px;
    width: 100%;
    box-shadow: -4px 4px 15px #a2a2a2;
    outline: none;
    background: #ffffff;
    font-size: 1rem;
}


.form-pedido {
    grid-column: 1/-1;
}

.form-pedido label {
    font-size: 1.125rem;
    font-weight: bold;
    display: block;
}

.form-pedido textarea {
    margin-top: 0.5rem;
    line-height: 2rem;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    border: solid 2px transparent;
    border-radius: 4px;
    box-shadow: -4px 4px 15px #a2a2a2;
    outline: none;
    background: #ffffff;
}

.form textarea:focus-within {
    border: solid 2px #414141;
    box-shadow: -4px 4px 15px #414141;
}


.form-botao {
    background: linear-gradient(#323232, #040404);
    font-size: 1.125rem;
    font-weight: bold;
    grid-column: 1;
    width: 250px;
    height: 70px;
    border-radius: 4px;
    border: none;
    color: #d7d7d7;
    box-shadow: -4px 4px 15px #a2a2a2;
}

.form-botao:hover {
    cursor: pointer;
    box-shadow: -10px 10px 10px #a2a2a2;
    background: linear-gradient(#414141, #090909);
}

.form input:focus-within {
    border: solid 2px #414141;
    box-shadow: -4px 4px 15px #414141;
}

@media(max-width: 950px) {
    .form {
        padding: 4rem;
        gap: 2rem;
    }

    .form label {
        font-size: 1rem;
    }

    .form-horario,
    .form-numero {
        grid-column: 1/-1;
    }
}

@media(max-width: 800px) {
    .contato-dados {
        padding: 50px 70px 50px 20px;
    }

    .contato a {
        width: 100px;
        font-size: 0.8rem;
    }
}

@media(max-width: 700px) {

    .titulo-do-contato {
        margin-bottom: 20px;
    }

    .titulo-do-contato h1 {
        font-size: 2.5rem;
    }

    .titulo-do-contato h2 {
        font-size: 1.5rem;
    }

    .contatos {
        display: grid;
        grid-template-columns: 1fr;
    }

    .contato-dados {
        padding: 20px;
    }

    .contato-dados h1 {
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .endereco {
        gap: 10px;
        font-size: 0.9rem;
    }

    .endereco,
    .contato {
        margin-top: 1.5rem;
        padding: 0px;
    }

    .contato a {
        width: 150px;
        font-size: 1rem;
    }

    .contato-redes {
        display: flex;
        gap: 50px;
    }

    .contato-redes a {
        margin-right: 0px;
        margin-top: 1.5rem;
    }

    .contato-formulario {
        grid-column: 1;
    }

    .form {
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .form-botao {
        justify-self: center;
        width: 150px;
    }

    .form input,
    .form textarea {
        font-size: 0.8rem;
    }
}