.horarios-section {
    background-image: url("../../img/orcamento/barbeiro-cortando.jpg");
}

.horarios-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
    padding-top: 600px;
}

.horarios-tabela h1 {
    padding-bottom: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    text-align: center;
}

.horarios-tabela {
    padding: 50px;
    background: #f7f7f7;
    color: #010101;
    border-radius: 50px;
}

.horarios-tabela ul {
    padding-bottom: 10px;
}

.horarios-tabela li {
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    margin: auto;
    justify-content: space-between;
    font-size: 1.125rem;
    padding-bottom: 20px;
    text-align: center;
}

.horarios-botao {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.horarios-botao a {
    border: 2px solid #010101;
    border-radius: 10px;
    padding: 20px;
    font-size: 1.125rem;
    color: #010101;
    font-weight: bold;
}

.horarios-botao a:hover {
    box-shadow: 0px 0px 5px #635903;
    border-color: #635903;
    color: #635903;
}

/* Tabela esquerda */

.motivacao-tabela {
    padding: 50px;
}

.motivacao-titulo {
    padding-bottom: 30px;
    font-size: 2rem;
    color: #f7f7f7;
}

.motivacao-texto {
    padding-bottom: 30px;
    font-size: 1.125rem;
    color: #cccccc;

}

.motivacao-texto strong {
    font-size: 2rem;
    color: #f7f7f7;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.motivacao-lista li {
    padding-bottom: 20px;
    font-size: 1.125rem;
    color: #cccccc;
}

.motivacao-lista span {
    padding-right: 10px;
    color: greenyellow;
    font-size: 1.5rem;
}