.detalhe-de-fundo {
    max-width: auto;
    height: 500px;
    background: #000000;
    background-image: url("../../img/pagina-inicial/background-gb.png");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width: 700px) {
    .detalhe-de-fundo {
        background-size: 1300px 1000px;
        height: 400px;
    }
}

@media (max-width: 520px) {
    .detalhe-de-fundo {
        background-size: 1200px 850px;
        height: 300px;
    }
}