.detalhe-de-fundo {
    max-width: auto;
    height: 700px;
    background: #000000;
    background-image: url("../../img/pagina-inicial/Gustavo\ barbosa.png");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}