.header-index {
    background: #1b1a1a;
    box-shadow: 0px -450px inset #f7f7f7;
    padding: 100px 0 0 0px;
    margin-bottom: 150px;
}

.header-container-index {
    max-width: 1200px;
    margin: 0 auto;
}

.introducao-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.titulo-header {
    padding: 40px;
}

.titulo-header h1 {
    padding-top: 50px;
    margin-bottom: 30px;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #a2a2a2;
}

.titulo-header h1 strong {
    line-height: 6rem;
    font-size: 5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
}

.header-endereco p {
    font-weight: 600;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 13px;
    color: #010101;
    line-height: 3rem;
}

.imagem-de-capa {
    padding: 10px;
}

.imagem-de-capa img {
    width: 700px;
    border-radius: 100px;
    box-shadow: 10px 10px 30px #252525;
}

.botao-menu-index {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 100px 0 100px 0;
    gap: 10px;
    height: 60px;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    padding: 0 20px 0 20px;
}

.botao-menu-index img {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    max-width: 150px;
}


.botao-menu-index a {
    display: inline-block;
    background: linear-gradient(#323232, #040404);
    font-size: 1.5rem;
    border-radius: 4px;
    border: none;
    color: #d7d7d7;
    padding: 15px;
    width: 150px;
    text-align: center;
}


.botao-menu-index a:hover {
    background: linear-gradient(#414141, #090909);
}


@media (max-width: 1200px) {

    .titulo-header h1 {
        font-size: 2rem;
    }

    .titulo-header h1 strong {
        font-size: 4rem
    }

    .header-index {
        box-shadow: 0px -520px inset #f7f7f7;
    }
}

@media (max-width: 1100px) {
    .header-index {
        box-shadow: 0px -450px inset #f7f7f7;
    }
}

@media (max-width: 800px) {

    .botao-menu-index {
        margin: 10px 0 100px 0;
        gap: 10px;
        height: 60px;
    }

    .botao-menu-index img {
        width: 100px;
    }

    .botao-menu-index a {
        display: inline-block;
        font-size: 1rem;
        border-radius: 4px;
        padding: 15px;
        width: 100px;
    }


    .titulo-header h1 {
        font-size: 1.3rem;
    }

    .titulo-header h1 strong {
        font-size: 2rem;
        line-height: 3rem;
    }

    .header-endereco p {
        line-height: 1.5rem;
        font-size: 1.2rem;
    }

    .header-index {
        box-shadow: 0px -290px inset #f7f7f7;
    }
}

@media (max-width: 600px) {
    .header-index {
        margin-bottom: 270px;
        margin-top: 0;
        padding-top: 0;
    }

    .titulo-header {
        text-align: center;
    }

    .titulo-header h1 {
        font-size: 2rem;
        font-family: Arial, Helvetica, sans-serif;
        color: #a2a2a2;
        padding: 0;
    }

    .titulo-header h1 strong {
        line-height: 4rem;
        font-size: 3rem;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: #ffffff;
    }

    .header-endereco p {
        font-weight: 100;
        font-family: Arial, Helvetica, sans-serif;
        color: #a2a2a2;
    }

    .introducao-header {
        grid-template-columns: 1fr;
    }

    .header-endereco p {
        line-height: 1.5rem;
        font-size: 1.2rem;
    }


    .imagem-de-capa {
        justify-self: center;
    }

    .imagem-de-capa img {
        width: 400px;
        border-radius: 100px;
        box-shadow: 5px 5px 10px #252525;
    }

    .botao-menu-index {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
    }


    .botao-menu-index {
        margin: 10px 0 100px 0;
        gap: 10px;
        height: 60px;
    }

    .botao-menu-index img {
        width: 100px;
    }

    .botao-menu-index a {
        font-size: 1rem;
        width: 100px;
    }
}

@media (max-width: 720px) {
    .header-index {
        box-shadow: 0px -240px inset #f7f7f7;
    }
}

@media (max-width: 400px) {
    .titulo-header h1 strong {
        line-height: 3rem;
        font-size: 2.9rem;
    }
}