.article-inicial {
    display: flex;
    margin: 50px;
    justify-content: center;
}

.conteudo-inicial {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.imagem-do-barbeiro {
    width: 450px;
}

.texto {
    font-size: 1.125rem;
    padding-right: 20px;
    font-weight: bold;
    color: #f7f7f7;
    align-content: center
}

.citacao {
    align-content: start;
    margin-top: 3rem;
    text-align: center;
    font-style: italic;
    font-size: 2rem;
    color: #c68c20;
    grid-column: 1/-1;
    margin-bottom: 20px;
}

.titulo-index {
    background: linear-gradient(#1b1a1a, #000000);
}

.titulo-index h1 {
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #ffffff;
    padding: 600px 0px 200px 0px;
    background-image: url("../../img/pagina-inicial/ferramentas.png");
    width: auto;
    box-shadow: 5px 5px #ffffff;
}