.galeria-main {
    box-shadow: 0px 500px inset #010101;
    padding-bottom: 100px;
}

.galeria-container {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    padding: 60px 20px 0 20px;
}

.galeria-titulo {
    padding-top: 100px;
    text-align: center;
    font-size: 3.5rem;
    color: #f7f7f7;
    font-weight: bold;
}

.galeria-container-fotos {
    display: grid;
    gap: 30px;
    overflow: hidden;
    border-radius: 30px;
}

.galeria-container img {
    -moz-animation: all 8.3s;
    -webkit-transition: all 8.3s;
    transition: all 0.6s;
}

.foto-cima {
    border: solid 2px #aaaaaa;

}

.foto-baixo {
    border: solid 2px #434343;
}

.galeria-container-fotos img:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.galeria-container-fotos:hover {
    box-shadow: 0px 0px 40px #000000;
    transition: 0.6s;
}

/* scroll */

.galeria-section {
    display: grid;
    padding: 100px 20px;
}

.galeria-section:nth-child(odd) {
    background-image: url("../../img/background-scroll.jpg");
}

.scroll-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    max-width: 1200px;
    gap: 10px;
}

.scroll-imagem {
    width: 400px;
    border-radius: 10px;
    border: none;
    margin: 0 auto;
}

.img1 {
    box-shadow: 0 0 30px #434343;
}

.img2 {
    box-shadow: 0 0 30px #010101;
}

.img3 {
    box-shadow: 0 0 30px #434343;
}

.scroll1 {
    animation: slidein1 1ms ease-in-out forwards;
    animation-timeline: view();
    animation-range: cover 0% cover 30%;
    color: #aaaaaa;
}

.scroll2 {
    animation: slidein2 1ms ease-in-out forwards;
    animation-timeline: view();
    animation-range: cover 0% cover 30%;
}

.scroll2 img {
    grid-column: 2;
    justify-self: end;
}

.scroll3 {
    animation: slidein3 1ms ease-in-out forwards;
    animation-timeline: view();
    animation-range: cover 0% cover 30%;
    color: #aaaaaa;
}

.scroll-texto {
    display: flex;
    font-size: 1.5rem;
    line-height: 3rem;
    align-items: center;
    padding: 20px;
}


@keyframes slidein1 {
    from {
        opacity: 0;
        translate: -10vw 0;
    }

    to {
        opacity: 1;
        translate: 10 0;
    }
}

@keyframes slidein2 {
    from {
        opacity: 0;
        translate: +10vw 0;
    }

    to {
        opacity: 1;
        translate: 10 0;
    }
}

@keyframes slidein3 {
    from {
        opacity: 0;
        translate: -10vw 0;
    }

    to {
        opacity: 1;
        translate: 10 0;
    }
}

/*  Depoimento */

.depoimento-bg {
    background: #f7f7f7;
    max-width: 1200px;
    margin: 0 auto;
}

.depoimento-bg h1 {
    padding: 50px 20px 10px 20px;
    font-size: 3rem;
    text-align: center;
}

.depoimento-container {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px 0 20px;
    gap: 10px;
}

.depoimento-foto {
    padding: 30px 20px 60px 20px;
}


.depoimento-foto img {
    border-radius: 30px;
    width: 500px;
}

.depoimento-comentarios {
    padding: 60px 20px 0px 20px;
}

.aspas {
    font-size: 100px;
    line-height: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #635903;
    padding: 0px 20px 0 10px;
}

.depoimento-texto {
    padding: 0px 20px 20px 20px;
    font-size: 1.125rem;
    color: #292929;
}

.nome-cliente {
    padding: 10px 20px 80px 20px;
}

/* Quadro da galeria */
@media (max-width: 800px) {
    .galeria-main h1 {
        font-size: 2rem;
    }

    .galeria-container {
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        padding: 60px 20px 0 20px;
    }
}

/* Galeria Scroll */
@media (max-width: 850px) {
    .scroll-container {
        grid-template-columns: 1fr;
    }

    .scroll-imagem {
        width: 300px;
    }

    .scroll2 img {
        grid-column: 1;
        justify-self: end;
    }

    .texto-2 {
        grid-row: 2;
    }

    .scroll-texto {
        font-size: 1.5rem;
    }
}

@media (max-width: 450px) {
    .scroll-texto {
        font-size: 1rem;
        margin: 0 auto;
        line-height: 2rem;
    }

    .galeria-section {
        padding: 50px 20px;
    }
}

/* Depoimentos */

@media (max-width: 1000px) {

    .depoimento-foto {
        padding: 30px 10px 0px 10px;
    }

    .depoimento-foto h1 {
        padding-bottom: 10px;
        font-size: 3rem;
    }

    .depoimento-foto img {
        border-radius: 30px;
        width: 450px;
    }

    .depoimento-comentarios {
        padding: 50px 10px 0px 10px;
    }

    .aspas {
        font-size: 60px;
        line-height: 10px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: #635903;
    }

    .depoimento-texto {
        padding: 0px 10px 20px 10px;
        font-size: 1.125rem;
        color: #292929;
    }

    .nome-cliente {
        padding: 0px 0px 30px 10px;
    }

}

@media (max-width: 800px) {
    .depoimento-container {
        grid-template-columns: 1fr;
        padding: 0 20px 60px 20px;
        margin: 0 auto;
    }

    .depoimento-foto {
        justify-self: center;
        width: 350px;
    }

    .depoimento-comentarios {
        padding: 0px 20px;
    }

    .aspas {
        padding-top: 30px;
    }

    .nome-cliente {
        padding: 10px 6px;
        border-bottom: dotted 2px #635903;
    }
}

@media (max-width: 520px) {
    .depoimento-bg h1 {
        font-size: 2.5rem;
    }

    .depoimento-foto {
        justify-self: center;
        width: 250px;
    }
}